.main .sideWrapper{
    width: 30%;
    flex: 0 0 30%;
    transition: all 0.3s ease-in-out;

}


.main .sidebarWrapper .sidebar{
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0px;
    background: #E1E2E2;
}

.main .sidebarWrapper .sidebar ul{
    margin-bottom: 0px;
}

.main .sidebarWrapper .sidebar ul li{
    list-style: none;
}

.main .sidebarWrapper .sidebar ul li button{
    color: black;
    text-align: left;
    justify-content: left;
    border-radius: 0px !important;
    padding: 12px 15px !important;
    align-items: center;
    text-transform: capitalize !important;
    font-weight: 500 !important;
}

.main .sidebarWrapper .sidebar ul li button .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.main .sidebarWrapper .sidebar ul li button .icon svg{
    color: black;
    opacity: 0.8;
    font-size: 22px;
}

.main .sidebarWrapper .sidebar ul li button .arrow{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.main .sidebarWrapper .sidebar ul li button.active .icon svg{
    color: #0858f7 !important;
}

.main .sidebarWrapper .sidebar ul li button *{
    color: black !important;
}

.main .sidebarWrapper .sidebar ul li button:hover{
    background: #f1f1f1 !important;
}

.right-content{
    padding: 10px 300px;
}

.main .content{
    width: 80%;
    flex: 0 0 80%;
}

.dashboardBoxWrapper{
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.dashboardBoxWrapper .dashboardBox{
    width:48%;
    height: 170px;
    background: #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.dashboardBoxWrapperRow .box{
    width: 250%;
    height: 100%;
    background: #ccc;
}

.main .dashboardBoxWrapper .dashboardBox{
    background-color: #7DA2A9;
}

.main .dashboardBoxWrapper .dashboardBox h4{
    color: white;
    padding-left: 20px;
    padding-top: 10px;
}

.main .dashboardBoxWrapper .dashboardBox p{
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 50px;
}

.main .dashboardBoxWrapper .dashboardBox .icon{
    padding-left: 220px;
    color: black;
}

.table .thead-dark th{
    background-color: #0858f7 !important;
}